* {
  box-sizing: border-box;
  font-family: Poppins, serif, sans-serif;
}

body {
  margin: 0;
  width: 100%;
}

.NavBar {
  display: flex;
  height: 70px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(85, 80, 80, 0.2);
}

.NavBar, img {
  max-width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 36px;
}

.grid--container--row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

.grid--column {
  flex: 50%;
  align-content: center;
}

.grid--column img {
  margin: 2px 0px;
  vertical-align: middle;
  height: 300px;
  width: auto;
  border-radius: 10px;
}

.katie--zaferes {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 176px;
  margin-left: 50px;
  font-size: 12px;
  line-height: 0.1px;
}

.katie--zaferes > img {
  border-radius: 10px;
}

.p--first {
  display: flex;
}

.p--first > img {
  height: 14px;
  margin: 4px;
}

.grey {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}